<app-map></app-map>
<div id="login-box">
  <form (ngSubmit)="onSubmit()">
      <div class="left" >
        <h1>Recherche  avancé</h1> 
        <h4 style="font-family: cursive;">dateMin</h4><input type="date"  required [(ngModel)]="dateMin"   placeholder="dateMin"  name="dateMin"/>
        <br>
        <h4 style="font-family: cursive;">dateMax</h4><input type="date" required [(ngModel)]="dateMax"  placeholder="dateMax"  name="dateMax"/>
        <br>
        <h4 style="font-family: cursive;">type signalement</h4>
        <div class="selectdiv">
                <select  [(ngModel)]="nomTypeSignalement"  name="nomTypeSignalement">
                    <option *ngFor="let TypeSignalement   of  typeSignalement"  >{{TypeSignalement.nomTypeSignalement}}</option>
                </select>
          </div>
        <h4 style="font-family: cursive;">status</h4>
        <div class="selectdiv">
                <select  [(ngModel)]="status"  name="status">
                    <option [ngValue]="0">nouveaux</option>
                    <option [ngValue]="1">en cours</option>
                    <option [ngValue]="2">terminer</option>
                </select>
          </div>
        <input type="submit"  value="soumettre" />  
        <!-- <h5>{{message}}</h5> -->
      </div>
   </form> 
      <div class="right">
         </div>  
    </div>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>nomUtilisateur</th>
                <th>nomTypeSignalement</th>
                <th>dateSignalement</th>
                <th>position x</th>
                <th>position y</th> 
            </tr>
            </thead>
            <tbody *ngFor="let Signalement of signalement">
            <tr>
                <td>{{Signalement.utilisateur.nom}}</td>
                <td>{{Signalement.typeSignalement.nomTypeSignalement}}</td>
                <td>{{Signalement.dateSignalement}}</td>
                <td>{{Signalement.positionx}}</td> 
                <td>{{Signalement.positiony}}</td>   
            </tr>
            <tbody>
        </table>
    </div>

    