.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 96%;
    width:50%;
    margin-left: 650px;
    margin-top:-20px;
  }
  
  #map {
    height: 100%;
  }