<div id="login-box">
    
  <form (ngSubmit)="onSubmit()">
    <div class="left">
      <h1>login Region</h1>

      <input type="text" placeholder="nom region" required [(ngModel)]="region.nomRegion" name="nomRegion" />
       <input type="password"  placeholder="mdp" required [(ngModel)]="region.mdp" name="mdp"/>
      
      <input type="submit"  value="Connexion"/>
    
      <h5>{{message}}</h5>
    </div>
  </form>
    <div class="right">
       </div>  
  </div>